In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# operator

In [2]:
5 +8 # operation

#operators
        # +,-,*
    
    #5,6 operands

13

In [5]:
#PEMDAS

5 + 7 - 8 *(2/2) + 200

204.0

In [6]:
a=8
b=8
print(a)
print(b)

8
8

In [7]:
a=8
b=8
print(id(a))
print(id(b))

140727113192480
140727113192480

In [8]:
a=8
b=9
print(id(a))
print(id(b))

140727113192480
140727113192512

In [9]:
a=3
type(a)

int

In [10]:
a='static'
type(a)

str

In [12]:
a=False
type(a)

bool

In [13]:
a="static"
type(a)

str

In [15]:
a="""static"""
type(a)

str

In [16]:
"1" +'1'

'11'

In [17]:
int("1")+int('1')

2

In [19]:
a="Pakistan"
a * 2

'PakistanPakistan'

In [25]:
#         1     2       3      4
name = ["ali","ahmad","nawaz",200]
print(type(name))
print(name)
print(name[2])

<class 'list'>
['ali', 'ahmad', 'nawaz', 200]
nawaz

In [26]:
name = ("name","ali","nawaz",200)
print(type(name))
print(name)
print(name[2])

<class 'tuple'>
('name', 'ali', 'nawaz', 200)
nawaz

In [29]:
name = {"name","ali","nawaz",200}
print(type(name))
print(name)
print(name[2])

<class 'set'>
{200, 'ali', 'nawaz', 'name'}

TypeError: 'set' object is not subscriptable

In [31]:
name = {"name","ali","nawaz",200}
name = list(name)

print(name[2])
print(type(name))
print(name)

nawaz
<class 'list'>
[200, 'ali', 'nawaz', 'name']

In [44]:
data = { 
    #key   : valse
    'name':"usama",
    'fname':"masood",
    'name':"ali",
    5  : 'pakistan',
    "a" : [True,"Pakistan",20,3.0]
    
}
#data[0]
#data['name']
data['a']

[True, 'Pakistan', 20, 3.0]

In [45]:
a = " usama masood"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [46]:
a = " USAma masOOD"
print(a.upper())
print(a)

 USAMA MASOOD
 USAma masOOD

In [47]:
a = " USAma masOOD"
print(a.capitalize())
print(a)

 usama masood
 USAma masOOD

In [50]:
a = "           USAma masOOD          "
a
print(len(a))

33

In [56]:
a = "           USAma masOOD          "
a
print(len(a))

#left side wali spaces
print(a.lstrip())
print(len(a.lstrip()))

#right side wali spaces
print(a.rstrip())
print(len(a.rstrip()))

33
USAma masOOD
22
           USAma masOOD
23

In [57]:
#split krna
b= a.split()
b

['USAma', 'masOOD']

In [60]:
#join krna
" ".join(b)

'USAma masOOD'

In [61]:
a =" we are pakistani we love pakistan"
a

' we are pakistani we love pakistan'

In [65]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]


print(a)
print(a[::])
print(a[0:4])

 we are pakistani we love pakistan
 we are pakistani we love pakistan
 we

In [72]:
a[a.index("pakistan"):15]

ValueError: substring not found

In [69]:
a ="fjsdnljfsdq9eu3cn98898sjsdjd120393j3kj4"
"".join([i for i in a if str.isnumeric])"

'939889812039334'

In [74]:
card = """

name:usama
fname:masood
class: AI
uni:bahria

"""
print(card)

name:usama
fname:masood
class: AI
uni:bahria

In [90]:

name = "usama"
fname = "masood"
claass = "ai"
score= 20

card = """

name: %s
fname: %s
class: %s
score: %d
bahria universty

"""
print(card%(name,fname,claass,score))

name: usama
fname: masood
class: ai
score: 20
bahria universty

In [89]:

name = "usama"
fname = "masood"
claass = "ai"
score= 20

card = """

name:%s
fname:%s
class:%s
score:%d
bahria universty

"""
print(card%(name,fname,claass,score))

name:usama
fname:masood
class:ai
score:20
bahria universty

In [93]:
name = "usama"
fname = "masood"
claass = "ai"
score= 20

card = f"""

name:{name}
fname:{fname}
class:{claass}
score:{score}
bahria universty

"""
print(card)

name:usama
fname:masood
class:ai
score:20
bahria universty

In [94]:
name = "usama"
fname = "masood"
claass = "ai"
score= 20

card = """

name:{}
fname:{}
claass:{}
score:{}
bahria universty

"""
print(card.format(name,fname,claass,score))

name:usama
fname:masood
claass:ai
score:20
bahria universty

In [96]:
name = "usama"
fname = "masood"
claass = "ai"
score= 20

card = """

#iss trh likhny say list ki index pt jo values hy wo aye gi
name:{1}
fname:{2}
claass:{3}
score:{0}
bahria universty

"""
print(card.format(name,fname,claass,score))

#iss trh likhny say list ki index pt jo values hy wo aye gi
name:masood
fname:ai
claass:20
score:usama
bahria universty

In [87]:
fname="masood ahmad"
program = "PIAIC"
s =200

print("Bahria University Islamabad \nStudent name " + fname)

Bahria University Islamabad
Student name masood ahmad

In [88]:
fname="masood ahmad"
program = "PIAIC"
s =200

print("Bahria University Islamabad \nStudent name " + fname + " \nprogram")

Bahria University Islamabad
Student name masood ahmad
program