# Types of Operator
# Python language supports the following types of operators.

# Arithmetic Operators
# Comparison (Relational) Operators
# Assignment Operators
# Logical Operators
# Bitwise Operators
# Membership Operators
# Identity Operators

# Arithmetic Operators

In [1]:
+ addition
- subtraction
* multiplication
/ divisiob
// floor division
% modulus
** power

SyntaxError: invalid syntax (<ipython-input-1-47c0ba7e361d>, line 5)

In [2]:
2 + 5.2

7.2

In [3]:
"A " + "B"

'A B'

In [4]:
["ali","ahmad"] + ["usama","masood"]

['ali', 'ahmad', 'usama', 'masood']

In [5]:
("ali","ahmad") + ("usama","masood")

('ali', 'ahmad', 'usama', 'masood')

In [6]:
{"ali","ahmad"} + {"ali","ahmad"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
{1: "ali",2: "ahmad"} + {3: "ali",4: "ahmad"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [9]:
4.2-2

2.2

In [11]:
{4,5,6,7} - { 6,7}

{4, 5}

In [14]:
{'a','b','c'} - {'c'}

{'a', 'b'}

In [10]:
[2,3] -[4,5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [15]:
"A"*3

'AAA'

In [16]:
["A"]*3

['A', 'A', 'A']

In [18]:
("AB")*3

'ABABAB'

In [22]:
12 / 3

4.0

In [19]:
11 /3

3.6666666666666665

In [21]:
11 // 3

3

In [23]:
12 // 3

4

In [24]:
11 % 3

2

In [28]:
# power
3 ** 3

27

# Comparison (Relational) Operators

==
<
>
<=
>=
!=
<>

In [29]:
2 == 2

True

In [30]:
2==3

False

In [33]:
'A' == 'a'

False

In [34]:
'A' =='A'

True

In [35]:
5 > 3

True

In [36]:
5 < 3

False

In [37]:
 5 >= 5

True

In [38]:
5 <=5

True

In [39]:
"A" > "B"

False

A=65  ->Z=90
a=97  ->z=122
0=48->9=57

In [40]:
ord("a")

97

In [41]:
chr(65)

'A'

In [43]:
ord("=")

61

In [44]:
3 != 3

False

In [45]:
3 != 4

True

In [46]:
'a' != 'a'

False

In [47]:
'a' != 'b'

True

# Assignment Operators

=
+=
-=
*=
/=
//=
**=
%=

In [49]:
a=2
a=4
a=9
print(a)

9

In [50]:
a = 1   # 1
a += 2  # 1 + 2 = 3
a += 3  # 3 + 3 = 6
a += 4  # 6 + 4 = 10
print(a)

19

In [51]:
a = 100  
a -= 10 
a -= 5  
a -= 5  
print(a)

80

In [53]:
a = 1
a *= 2
a *= 3
print(a)

6

In [55]:
a = 100  
a /= 2 
a /= 2  
print(a)

25.0

In [57]:
a = 100  
a //= 2 
a //= 2  
print(a)

25

In [58]:
a = 100  
a %= 2 
 
print(a)

0

In [59]:
a = 101 
a %= 2 
 
print(a)

1

In [61]:
a = 2
a **=2
a **=2
print(a)

16

In [62]:
a ="A"
a +="B"
print(a)

AB

In [64]:
a =[1,2,3]
a +=[2,3,4]
print(a)

[1, 2, 3, 2, 3, 4]

# Logical Operators

and &  lazmi (sahi hona zruri hy)
or  |  optional  (1 b sahi ho to b thek hy)
not

In [66]:
True and True and True

True

In [69]:
True and True and False

False

In [70]:
True or True or True

True

In [71]:
True or True or False

True

In [74]:
user = input("UserName: ")
password = input("password: ")

user =="usama" and password =="123"
# "admin" == "admin" and "password" == 123

UserName: usama
password: 123

True

In [75]:
user = input("UserName: ")
password = input("password: ")

(user =="usama") & (password =="123")
# "admin" == "admin" and "password" == 123

UserName: usama
password: 123

True

In [76]:
user = input("UserName: ")
password = input("password: ")

(user =="usama") & (password =="123")
# "admin" == "admin" and "password" == 123

UserName: usama
password: 1234

False

In [77]:
True or True or False

True

In [78]:
True | True | False

True

In [79]:
False | False | False

False

In [81]:
user = input("enter name: ")
password = input("enter password: " )

(user =="usama" or "phoneno" or "id") and (password == "123")

enter name: id
enter password: 123

True

In [82]:
user = input("enter name: ")
password = input("enter password: " )

(user =="usama" or user== "phoneno" or user=="id") and (password == "123")

enter name: phoneno
enter password: 123

True

In [84]:
user = input("enter name: ")
password = input("enter password: " )

(user =="usama" or user== "phoneno" or user=="id") and (password == "123" or password=="345")

enter name: usama
enter password: 345

True

In [85]:
user = "usama"
password =" 123"

not (user=="usama" and password=="123")

True

In [86]:
not(True)

False

In [87]:
not(False)

True

# Bitwise Operators

8,    7,   6,   5,  4,   3,   2,  1,   0
2,    2,   2,   2,  2,   2,   2,  2,   2
=========================================
256,  132, 64,  32, 16,  8,   4,  2,   1

Right side
11001
1 = 1
0 = 0
0 = 0
1 = 8
1 = 16

1+8+16

25

1010101
1=1
0=0
1=4
0=0
1=16
0=0
1=64

1+4+16+64

& and
11100
11101
------
11100

In [89]:
# and
28 & 29

28

In [90]:
28 and 29

29

In [91]:
# or
28 | 29

29

In [92]:
# ^ xor

28^ 29

1

In [93]:
# ~ complement

~29

-30

# Membership Operators

in
not in

In [94]:
names=["usama","ali","ahmed"]
i=0
while i<len (names):
    if names[1]=="ali":
        print(True)
        break
    i+=1

True

In [95]:
names = ["usama","ali","ahmed"]
"usama" in names

True

In [98]:
x = input("enter name: ")
'pakistan' in user

enter name: ali as

False

In [100]:
x = input("enter name: ")
'pakistan' in x

enter name: pakistan dta as

True

In [97]:
["kashif"] in names

False

In [101]:
x = input("enter name: ")
'pakistan' not in x

enter name: pakistan is a country

False

In [102]:
a=input()
a.split()
a

a f g j k l

'a f g j k l'

# Identity Operators

In [103]:
a = '5'
b = 5
c =a

print (a is b)
print (a is c)

False
True

In [104]:
a = '5'
b = 5
c =a

print(id(a))
print(id(b))
print(id(c))

2804616982232
140727285486528
2804616982232

In [111]:
id(a)==id(c)

True

# control flow
if esle elif

if logic:
    value if true
else:
    value if false

In [106]:
if True:
    print("pakistan zindabad")
    
else:
    print("zinda")

pakistan zindabad

In [107]:
user = input("enter name: ")
password = input("enter Password: ")

if(user == "ali" or user== "hamza") and password=="123":
    print("valid")
else:
    print("invalid")

enter name: ali
enter Password: 123
valid

In [108]:
user = input("enter name: ")
password = input("enter Password: ")

if(user == "ali" or user== "hamza") and password=="123":
    print("valid")
else:
    print("invalid")

enter name: di
enter Password: 123
invalid

In [110]:
user = input("enter name: ")
password = input("enter Password: ")

if(user in ["ali","hamza"] and password=="123"):
    print("valid")
else:
    print("invalid")

enter name: hamza
enter Password: 123
valid